<html>
<head>
  <title>Walt Zimmerman</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
  <!-- Background img container -->
  <div id="canvas-container" width="1366" height="768"></div>
    <div id="overlay-intro">
      <header>Welcome</header>
      <footer>Hit Space to continue</footer>
    </div>
  <div id="control-panel">
    <div class="controls">
      <!-- WILL REPLACE WITH ICONS -->
      <span id="up">UP</span>
      <span id="down">DOWN</span>
      <span id="left">LEFT</span>
      <span id="right">RIGHT</span>
      <span id="space">SPACE</span>
    </div>
  </div>
  <div id="overlay-dialog"></div>
  <script type="text/javascript" src="js/dist/build.js"></script>
</body>
</html>
